<div class="country-name">
    <h1>{{name.common}}</h1>
</div>
<div class="country-info">
    <ul class="country-list">
        <li>Capital: {{capital}}</li>
        <li>Region: {{region}}</li>
        <li>Languages:
            <ul>
                {{#each languages}}
                <li>{{this}}</li>
                {{/each}}
            </ul>
        </li>       
    </ul>
</div>
<div class="country-flag">
    <img 
        src={{flags.[0]}}
        alt="flag of {{name.common}}" 
        width='300'>
</div>